body {
    font-family: 'Sorts Mill Goudy';
}

.bg-basilic {
    background-color: rgb(119, 135, 55);
}

/* https://google-webfonts-helper.herokuapp.com/fonts/sorts-mill-goudy?subsets=latin */
/* sorts-mill-goudy-regular - latin */
@font-face {
    font-family: 'Sorts Mill Goudy';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/sorts-mill-goudy-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Sorts Mill Goudy Regular'), local('SortsMillGoudy-Regular'),
         url('../fonts/sorts-mill-goudy-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/sorts-mill-goudy-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/sorts-mill-goudy-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/sorts-mill-goudy-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/sorts-mill-goudy-v7-latin-regular.svg#SortsMillGoudy') format('svg'); /* Legacy iOS */
  }
  
  