{% extends 'orders/base.html' %}
{% block title %}Pizzas{% endblock %}
{% block content %}
    {% for category in categories %}
    <div>
        <h2>{{ category }}</h2>
        <ul class="list-group list-group-flush">
            {% for item in category.item_set.all %}
            <li class="list-group-item d-flex justify-content-between">
                {{ item }}
                <span class="text-muted">
                {% for pricing in item.pricing_set.all %}
                    <div>
                        {% if pricing.pricing_type != 'N' %}
                            {{ pricing.get_pricing_type_display }}: 
                        {% endif %}
                        ${{ pricing.price }}
                        <form method="post" action="{% url 'orders:add_to_cart' %}">
                            {% csrf_token %}
                            <input type="hidden" name="pricing_id" value="{{ pricing.pk }}">
                            <input type="submit" value="Add to cart" class="btn btn-default btn-sm">
                        </form>
                    </div>
                {% endfor %}
                </span>
            </li>
            {% empty %}
            <li>No subcategory</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
{% endblock %}